@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Michroma", sans-serif;
  font-size: 10px;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(187, 183, 183);
}

.simon {
  height: 90%;
  width: 50%;
  background-color: black;
  border-radius: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.disclaimer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 40;
}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
  .simon {
    height: 50%;
    width: 90%;
    /* background-color: black; */
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 5%;
    border-radius: 50px;
    background: #a1a0a0;
    box-shadow: -27px 27px 50px #6d6d6d, 17px -17px 50px #6d6d6d;
  }

  .wrapper {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .taster {
    height: 40%;
    width: 40%;
    /* background-color: aqua; */
    margin: 3%;
  }
  .taster:active {
    transition: 100ms;
    /* transform: scale(1.1); */
    /* border: 10px solid white !important; */
    box-shadow: inset 20px 20px 30px rgba(255, 255, 255, 0.83),
      inset -20px -20px 30px rgba(255, 255, 255, 0.856);
  }
  .green {
    background-color: rgb(30, 168, 30);
    border-top-left-radius: 60px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .red {
    background-color: rgb(232, 38, 38);
    border-top-left-radius: 10px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .blue {
    background-color: rgb(40, 40, 224);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 10px;
  }
  .yellow {
    background-color: rgb(232, 232, 53);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 60px;
  }

  .active {
    transition: 100ms;
    /* transform: scale(1%); */
    /* border: 10px solid white !important; */
    box-shadow: inset 20px 20px 30px rgba(255, 255, 255, 0.83),
      inset -20px -20px 30px rgba(255, 255, 255, 0.856);
  }
  button {
    padding: 10px;
    margin: 0 6px;
    border-radius: 10%;
    letter-spacing: 1px;
    border: none;
    border-radius: 50px;
    background: #504f4f !important;
    box-shadow: -10px 14px 30px #818080;
    transition: 200ms;
  }

  button:active {
    color: red !important;
    transform: scale(90%);
  }
  .btn-yellow {
    background-color: rgb(210, 210, 20);
    color: white;
  }
  .btn-red {
    background-color: rgb(204, 54, 54);
    color: white;
  }
  .btn-blue {
    background-color: rgb(44, 44, 198);
    color: white;
  }
  .btn-blk {
    background-color: black;
    color: white;
  }

  .score {
    margin-bottom: 20px;
    color: black;
    font-weight: 800;
    letter-spacing: 2px;
  }

  .bestScore {
    margin-bottom: 7%;
    font-size: 20px;
    font-weight: 500;
  }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
  .App {
    display: none;
  }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  .App {
    display: none;
  }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
  .App {
    display: none;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  .App {
    display: none;
  }
}
